# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Log and database files
*.log
*.db
*.sqlite3
*.pyo

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Odoo specific
!addons/
odoo.conf
.odoo/
*.spec
*.deb
*.tar.gz
*.rpm
__manifest__.py
__openerp__.py
*.zip

# IDE / Editor specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

filestore/

